@charset "utf-8";
/* CSS Document */


body {
	background-color: #fff;
	color: #555;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
	line-height: 18px;
	margin: 0;
	padding: 0;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
	outline: none;
	outline-offset: 0;
}
img {
	max-width: 100%;
}
a {
	color: #cb5709;
}
a:hover, a:focus {
	outline: none;
	text-decoration: none;
	color: #d45b5b;
	text-decoration: none;
}
.loginBg {
	background-image: url(../images/login_bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
	width: 100%;
}
.loginBg .loginHead {
	margin-top: 3vw;
	position: fixed;
	width: 100%;
}
.loginBg .footer {
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-weight: 600;
	background-color: rgba(0,0,0,0.6);
	color: #fff;
}
.loginBox {
	margin: 0 auto;
	width: 360px;
	position: fixed;
	left: 50%;
	margin-left: -180px;
	top: 50%;
	margin-top: -110px;
}
.loginBox .login {
	background: rgba(0, 0, 0, 0) url("../images/login-box-bg.png") repeat scroll left top;
	border: 1px solid #dedede;
	margin: 0;
	padding: 0 5%;
	width: 100%;
}
.loginBox .login .input-group-addon {
	background-color: #cb5709;
}
.loginBox .login .input-group-addon .fa {
	color: #fff;
	font-size: 16px;
}
.loginBox .login h2 {
	background: rgba(0, 0, 0, 0) url("../images/login-bg.png") no-repeat scroll top center;
	color: #fff;
	font-size: 25px;
	margin: -6px 0 10px;
	padding: 2px 0 8px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	font-weight: 600;
}
.navbar-brand > img {
	max-height: 25px;
}
.dropdown-menu, .dropdown.open {
    z-index:1000000;
}
.logoMain {
	float: left;
}
.logoMain a {
	padding: 10px 0;
	display: block;
}
.userOption {
	float: right;
	margin-top: 10px;
}
.userOption .fa-user {
	font-size: 16px;
	color: #cb5709;
}
.userOption .dropdown .btn-default {
	padding: 10px 15px;
	background-color: #f8f8f8;
}
.userOption .dropdown-menu {
	min-width: 201px;
}
.userOption .dropdown-menu .fa {
	font-size: 12px;
	color: #000;
}
.open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default.focus {
	background-color: #f8f8f8;
	border-color: #ccc;
}
.navbar-default .navbar-brand {
	display: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color:#000;
    color:#fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color:#CB5709;
    color:#fff;
}
.viewEye {
	font-size: 16px;
	color: #000;
	margin-bottom: 10px;
	display: inline-block;
}
.footer {
	background-color: #000;
	padding: 6px 0;
	color: #fff;
}
.vehicleNetwork {
	display: block;
	margin-bottom: 10px;
}
.vehicleNetwork .tab-content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 10px;
}
.stylish-input-group {
	margin-bottom: 3px;
}
.stylish-input-group .input-group-addon {
	background: white !important;
	padding: 6px 5px;
    -webkit-padding-before:4px;
    -webkit-padding-end:5px;
    -webkit-padding-after:5px;
    -webkit-padding-start:5px;
    -ms-padding-before:4px;
    -ms-padding-end:5px;
    -ms-padding-after:5px;
    -ms-padding-start:5px;
}
.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}
.stylish-input-group button {
	border: 0;
	background: transparent;
	color: #cb5709;
}
#mapTracking {
	border: 1px solid #ddd;
}
.caret-up {
	width: 0;
	height: 0;
	border-left: 4px solid rgba(0, 0, 0, 0);
	border-right: 4px solid rgba(0, 0, 0, 0);
	border-bottom: 4px solid;
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
}
.text-primary {
	font-weight: 600;
}
.text-primary span {
	color: #000;
}
.form-group .form-group, .table .table {
	margin-bottom: 0;
}
.control-label .red {
	color: #f00;
}
.form-group.last {
	margin-bottom: 0;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	background-color: #553f31;
	color: #fff;
}
.col-md-left {
	/*margin-right: 380px;*/
	transition: all 0.5s ease 0s;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
}
.col-md-right {
	position: absolute;
	transition: all 0.5s ease 0s;
	width: 360px;
	top: 0;
	right: 0;
	z-index: 99;
}
.viewSpeed {
	float: right;
	width: 100%;
	padding-left: 10px;
}
.pinMnu {
	cursor: pointer;
	position: absolute;
	left: -20px;
	top: 0;
	margin-top: 10px;
	line-height: 20px;
}
.pinMnu:hover {
	background-color: #F3F3F3;
}
.pinMnu i.outSide, .pinMnu i.inSide {
	background: url("../images/pinclose.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	width: 20px;
	height: 20px;
}
.pinMnu i.inSide {
	background: url("../images/pinopen.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.full-right .col-md-left {
	margin-right: 0;
}
.full-right .col-md-right {
	margin-right: -360px;
}
.trackingData {
	width: 350px;
	position: fixed;
	top: 107px;
	right: 0;
	z-index: 999;
	display: none;
}
.trackingData.trackingNone {
	top: auto;
	bottom: 0;
}
.panel-heading .btnSection {
	float: right;
}
.panel-heading .btnSection a {
	background-color: #f5f5f5;
	padding: 2px 5px;
}
.panel-body {
	transition: all 0.5s ease 0s;
}
.panel.collapsible .panel-body {
	display: none;
}
.panel-body .autoScroll {
	height: 504px;
	overflow: hidden;
	overflow-y: scroll
}
.dashLeftpinMnu {
	cursor: pointer;
	position: absolute;
	margin-top: -20px;
	margin-right: -25px;
	right: 50%;
	top: 50%;
	line-height: 20px;
	z-index:99;
}
.dashRightpinMnu {
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -20px;
	margin-left: -25px;
	line-height: 20px;
	z-index:99;
}
.dashLeftpinMnu i.outSide, .dashLeftpinMnu i.inSide, .dashRightpinMnu i.outSide, .dashRightpinMnu i.inSide {
	background: url("../images/pinopen.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: block;
	width: 20px;
	height: 20px;
}
.full-weight-right .dashLeftpinMnu i.inSide {
	background: url("../images/pinclose.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.dashRightpinMnu i.outSide {
	background: url("../images/pinclose.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.full-weight-left .dashRightpinMnu i.outSide {
	background: url("../images/pinopen.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.widthLeft {
	transition: all 0.5s ease 0s;
	padding-left: 15px;
	padding-right: 0;
	width: 47%;
	float: left;
	position: relative;
}
.widthRight {
	transition: all 0.5s ease 0s;
	padding-right: 15px;
	padding-left: 0;
	width: 47%;
	float: left;
	position: relative;
}
.widthCenter {
	transition: all 0.5s ease 0s;
	width: 6%;
	float: left;
	position: relative;
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+50,ffffff+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left, #ffffff 49%, #555 50%, #ffffff 49%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ffffff 49%, #555 50%, #ffffff 49%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ffffff 49%, #555 50%, #ffffff 49%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 ); /* IE6-9 */
}
.full-weight-right .widthLeft {
	margin-left: -48%;
}
.full-weight-right .widthCenter {
	margin-left: -3%;
}
.full-weight-right .widthRight {
	width: 97%;
}
.full-weight-left .widthRight {
	margin-right: -48%;
}
.full-weight-left .widthCenter {
	margin-right: -3%;
}
.full-weight-left .widthLeft {
	width: 97%;
}
.full-weight-right.full-weight-left .widthLeft {
	margin-left: 0;
}
.full-weight-right.full-weight-left .widthRight {
	width: 48%;
}
.iconView {
}
.iconView ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.iconView ul li {
	display: inline-block;
}
.text-box {
	display: block;
	width: 100%;
	/*height: 34px;*/
	padding: 4px 8px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#imaginary_container {
/*margin-top:20%;  Don't copy this */
}
.stylish-input-group .input-group-addon {
	background: white !important;
}
.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}
.stylish-input-group button {
	border: 0;
	background: transparent;
}
.panel-heading .btn {
	float: right;
}
.panel-heading .textHead {
	float: left;
	margin-top: 3px;
}
.field-validation-error, #msgDiv .errorMessage {
    color:red;
    padding:5px 0;
    display:block;
    font-weight:600;
}
#msgDiv .successMessage {
    color:green;
    padding:5px 0;
    display:block;
    font-weight:600;
}
.viewText {padding-top:4px;color:#000;
}
.panel-default {
    border-color:#e5c2aa;
}
.panel-default > .panel-heading {
    background-color:#ffd7bd;
    color:#753205;
    border-color:#e5c2aa;
}
.pagination {
    margin: 10px 0px 0px;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    background-color: #c25208;
    border-color: #ba4f07;
}
.pagination > li > a, .pagination > li > span {
    color: #c25208;
}
.text-info {
    color:#C25208;
}
.pageNumber {
    margin-top:18px;
}
.modalBgLoader {
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: Black;
        filter: alpha(opacity=60);
        opacity: 0.6;
    }
.modalLoaderCenter {
    position: fixed;
        z-index: 9999;
        left:50%;
        top:50%;
        margin-top:-70px;
        margin-left:-70px;
        background-color:#fff;
        padding:20px;

}
.modalLoaderCenter img {
            height: 120px;
            width: 120px;
        }
    .modalLoaderCenter span {width: 100%;
    text-align: center;
    color: #000;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    font-size: 18px;
    }
.navbar-default .navbar-toggle {
    background-color:#f8f8f8;
}
.navbar-nav .dropdown-menu li{
    background-color:#fff;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    vertical-align:middle;
}

 .dateWidth{width: auto;
    display: inline-block;}
.nanoTable {min-height:200px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-top: 2px;
    margin-left: 0;
}
.radio label input[type="radio"], .radio-inline label input[type="radio"], .checkbox label input[type="checkbox"], .checkbox-inline label input[type="checkbox"] {
    margin-top: 2px;
    margin-left: -20px;
}
.pieChartHeight {
    min-height:350px;
    padding:0;
}
.speedTrack h3 {color:#000;margin:0;margin-bottom:10px;font-size:15px;font-weight:600;}
.speedTrack ul {
    list-style:none;
    padding:0;
    margin:0;
}
.speedTrack ul li {
    padding:0;
    margin:0;
    display:inline-block;
    width:24.1%;
    text-align:center;
}
.speedTrack ul li span {display:block;margin:7px 4px;font-weight:600;background-color:#000;color:#fff;padding:3px 0;font-size:10px;
    }
/*---------------Responsive CSS Code------------------*/

@media (max-width: 1024px) {
    .widthRight .row:nth-child(1) {
        margin-bottom:10px;
    }
    .widthRight .row:nth-child(1) .col-md-6 {
        width:100%;
    }
}
@media (max-width: 780px) {
    .widthRight .row:nth-child(n+1) {
        margin-bottom:10px;
    }
}
@media (max-width: 640px) {
    .footer .col-sm-6 {
        text-align:center;
    }
    .widthCenter {
        display:none;
    }
    .widthLeft, .widthRight {
        width:100%;
        padding:0 15px;
    }
    .loginBox {
        margin:-50px auto 0 -180px;
    }
    .loginBg .footer {
        display:none;
    }
    .navbar-nav .fa {
        width:15px;
        height:15px;
    }
}
@media (max-width: 550px) {
    .paginationDiv .col-xs-6 {
        width:100%;
        text-align:center;
    }
    .heightFix {
        min-height:400px !important;
    }
    .pieChartHeight {
        min-height:300px;
    }
}
@media (max-width: 400px) {
    .loginBox {
        width: 300px;
        margin-left: -150px;
        margin-top: -110px;
    }
    .loginBg .footer {
        position:absolute;
        display:block;
    }
    .col-md-right{
        width: 300px;
    }
    .nav.nav-tabs > li > a {
        padding: 5px 1px;
    }
    .header .col-md-6 {
        width:100%;
    }
    .header .col-md-6 .logoMain {
        float:none;
        text-align:center;
    }
    .userOption {
        margin-bottom:10px;
    }
    .pieChartHeight {
        min-height:250px;
    }
    .full-right .col-md-right{    
        margin-right: -290px;
    }
}
.viaAddr .form-control {
    width:255px;
    display:inline;
}
.tab-pane .radio-inline input {
    margin-left:-20px;
}
.tab-pane .panel-heading {
    padding: 2px 5px;
}
.tab-pane .panel-body {
    padding:5px;
}
